<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AWS 동적 자원 관리 프로그램</title>
    <link rel="stylesheet" href="/css/base.css" />
  </head>
  <body>
    <!-- 네비게이션 바 -->
    <header class="navbar">
      <div class="navbar-container">
        <a href="/ec2/instances" class="navbar-logo"
          >AWS 동적 자원 관리 프로그램</a
        >

        <!-- 햄버거 메뉴 버튼 -->
        <div class="hamburger-menu" id="hamburger-menu">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>

        <!-- 네비게이션 메뉴 -->
        <nav class="navbar-links" id="navbar-links">
          <ul>
            <li><a href="/ec2/instances">인스턴스</a></li>
            <li><a href="/ec2/images">이미지</a></li>
            <li><a href="/ec2/availability-regions">가용리전</a></li>
            <li><a href="/ec2/availability-zones">가용영역</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- 페이지 내용 -->
    <main></main>

    <script src="/js/index.js"></script>
  </body>
</html>
