/* 기본 페이지 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* 네비게이션 바 스타일 */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1.2rem 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 15px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #e67e22;
}

/* 햄버거 메뉴 스타일 */
.hamburger-menu {
  width: fit-content;
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu .line {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s;
}

/* 반응형 디자인: 작은 화면에서는 햄버거 메뉴가 보이고 네비게이션 메뉴는 숨김 */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .navbar-links ul {
    display: flex;
    flex-direction: column;
  }
  .navbar-links li {
    margin: 15px 0;
  }

  .navbar-links a {
    font-size: 20px;
  }
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.content h1 {
  font-size: 36px;
  color: #333;
}

.content p {
  font-size: 18px;
  color: #555;
}
